<nav>
<div class="nav-wrapper indigo">
  <a href="#" class="brand-logo center"> Memories of Time </a>
  </ul>
</div>
</nav>

<div class="row"></div>
<div class="row"></div>
<div class="container">
<ul class="collapsible">
<% @posts.each do |post| %>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>
        <%= post.title %>
      </div>

      <div class="collapsible-body">
        <span>
          <%= post.text %>
        </span>
      </div>
    </li>
<% end %>
</ul>
</div>

<div class="fixed-action-btn">
  <%= link_to '<i class="large material-icons">mode_edit</i>'.html_safe, new_post_path , :class => "btn-floating btn-large  red darken-1"%>
</div>
